body {
  background-color: lightgray;
}

.create_form {
  .full {
    background-color: white !important;
  }
}

.card_sec {
  h3 {
    text-align: center !important;
  }
  .card {
    max-width: 660px !important;
    margin: auto !important;
  }
}
