body {
  background-color: lightgray;
}

.create_form {
  .full {
    background-color: white !important;
    max-width: 700px;
    margin: auto;
    border-radius: 8px;
  }
}

.card_sec {
  h3 {
    text-align: center !important;
  }

  .card {
    max-width: 660px !important;
    margin: auto !important;
  }
}


.cart {
  .full{
    background-color: white;
    border-radius: 6px;
  }
 
    img {
      width: 60px;
    }
  }

